main {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
h1{
    font-family: 'Volkhov Bold'; font-size: 64px;
}
section {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
}
@media only screen and (max-width: 768px) {
    :host{
        margin-bottom: 350px;
    }
    h1{
        font-size: 52px;
    }
    section{
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       gap: 20px;
    }
}