<section>
    <footer>
        <div>
            <h1>Jadoo</h1>
            <p style="width:40%">Book your trip in minute, get full
                Control for much longer.
            </p>
        </div>
        <div>
            <h2>Company</h2>
            <p>List Shortening</p>
            <p>Branded Links</p>
            <p>Analytics</p>
        </div>
        <div>
            <h2>Contact</h2>
            <p>Blog</p>
            <p>Developers</p>
            <p>Support</p>
        </div>
        <div>
            <h2>More</h2>
            <p>About</p>
            <p>Our Team</p>
            <p>Careers</p>
            <p>Contact</p>
        </div>
        <div>
            <span>
                <img src="assets/images/fb.svg" alt="" srcset="">
                <img src="assets/images/icon-twitter.svg" alt="" srcset="">
                <img src="assets/images/ig.svg" alt="" srcset="">
            </span>
            <h3>Discover our app</h3>
        </div>
    </footer>
    <p>All rights reserved@jadoo.co</p>
</section>