<header>
    <div class="logo">
        <img src="assets/images/Logo.svg" alt="logo">
    </div>
    <div class="links">
        <a href="">
            <p id="underline">Destinations</p>
        </a><a href="">
            <p id="underline">Hotels</p>
        </a><a href="">
            <p id="underline">Flights</p>
        </a><a href="">
            <p id="underline">Bookings</p>
        </a><a href="">
            <p id="underline">Login</p>
        </a>
        <button>
            Sign Up
        </button>
        <select name="Lang" id="">
            <option value="EN">EN</option>
            <option value="FR">FR</option>
            <option value="ES">ES</option>
        </select>
    </div>
</header>