<main [ngStyle]="{'background':'url(assets/images/Decore2.svg) 83% center no-repeat'}">
    <nav class="hero-container">
        <div class="hero-box">
            <h4>Top Selling</h4>
            <h1 style="font-family: 'Volkhov Bold'; font-size: 64px;">Top Destinations</h1>
        </div>
    </nav>
    <section>
        <app-destination-cards style="width: 30%;" [city]="'London, UK'" [price]="'$5.42k'" [duration]="'10 days trip'"
            [ImgUrl]="'https://images.unsplash.com/photo-1681199993755-3155a1354f73?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1161&q=80'"></app-destination-cards>
        <app-destination-cards style="width: 30%;" [city]="'Rome, Italy'" [price]="'$4.2k'"
            [ImgUrl]="'https://images.unsplash.com/photo-1682299577131-df7ed66052b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'"
            [duration]="'12 days trip'"></app-destination-cards>
        <app-destination-cards style="width: 30%;" [city]="'Full Europe'" [price]="'$15k'"
            [ImgUrl]="'https://images.unsplash.com/photo-1590381026276-e061eda91701?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'"
            [duration]="'28 days trip'"></app-destination-cards>
    </section>
</main>