<main [ngStyle]="{'background':'url(assets/images/Decore2.svg) 80% center no-repeat'}">
    <nav class="hero-container">
        <div class="hero-box">
            <h4>Top Selling</h4>
            <h1 style="font-family: 'Volkhov Bold'; font-size: 64px;">Top Destinations</h1>
        </div>
    </nav>
    <section>
        <app-destination-cards [country]="'Calculated Weather'" [price]="'assets/images/weather.svg'"
            [duration]="'Built Wicket longer admire do barton vanity itself do in it.'"></app-destination-cards>
            <app-destination-cards [country]="'Calculated Weather'" [price]="'assets/images/weather.svg'"
            [duration]="'Built Wicket longer admire do barton vanity itself do in it.'"></app-destination-cards>
            <app-destination-cards [country]="'Calculated Weather'" [price]="'assets/images/weather.svg'"
            [duration]="'Built Wicket longer admire do barton vanity itself do in it.'"></app-destination-cards>
    </section>
</main>
