<main>
    <div class="textBox">
        <h4>Easy and Fast</h4>
        <h1>Book your next trip
            in 3 easy steps</h1>
        <div>
            <img src="/assets/images/Group 12.png" alt="">
            <span>
                <h4>Choose Destination</h4>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Urna, tortor tempus. </p>
            </span>
        </div>
        <div>
            <img src="/assets/images/Group 7.png" alt="">
            <span>
                <h4>Make Payment</h4>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Urna, tortor tempus. </p>
            </span>
        </div>
        <div>
            <img src="/assets/images/Group 11.png" alt="">
            <span>
                <h4>Reach Airport on Selected Date</h4>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Urna, tortor tempus. </p>
            </span>

        </div>
    </div>
    <div class="imgBox">
        <div id="trial"></div>
        <div class="card-container">
            <div class="card-top">
                <div class="bg"></div>
            </div>
            <div class="text-box">
                <h4 class="trip">Trip To Greece</h4>
                <h5>14-29 June | by Robbin joseph</h5>
                <span>
                    <img src="assets/images/LEAF.png" alt="leaf icon">
                    <img src="assets/images/map icon.png" alt="map icon">
                    <img src="assets/images/send.png" alt="send icon">
                </span>
                <div class="small-box">
                    <div class="left">
                        <img src="assets/images/building 1.png" alt="leaf icon">
                        <h6>24 people going</h6>
                    </div>
                    <img src="assets/images/heart.png" alt="">
                </div>
            </div>
        </div>
    </div>
</main>