:host {
    display: flex;
    justify-content: center;
}

div {
    position: relative;
    height: 40vh;
    background-color: #DFD7F9;
    background-image: url('/assets/images/sub.svg');
    background-position: center;
    border-radius: 129px 20px 20px 20px;
    width: 65%;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h3 {
        font-family: 'Rubik Medium', sans-serif;
        font-size: 34px;
        text-align: center;
        color: #5E6282;
    }

    .formbox {
        display: inline-flex;
        width: 80%;
        gap: 15px;
        justify-content: center;
        align-items: center;

        input[type=email] {
            width: 250px;
            border: none;
            border-radius: 8px;
            padding: 12px 14px;
        }

        input[type=button] {
            padding: 12px 14px;
            background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
            border-radius: 10px;
            border: none;
            color: #fff;

        }
    }

    img {
        position: absolute;
        top: -8%;
        right: -2%;
    }
}