main{

    height: 100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    .hero-container{
    display: flex;
    width: 100%;
    align-items: center;
    }
    .hero-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 20px;

        .buttonbox{
            display: inline-flex;
            align-items: center;
            gap: 20px;
            button{
                padding: 10px 12px;
                background-color: #F1A501;
                color: #fff;
                border: none;
                border-radius: 5px;
                font-size: 14px;
                box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
            }
            div{
                width: 30%;
                display: inline-flex;
                align-items: center;
                justify-content: space-around;
                span{
                    border-radius: 100%;
                    background-color: #DF6951;
                    height: 45px;
                    width: 45px;
                    position: relative;
                    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
                    img{
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        transform: translate(50%, -50%);
                    }
                }
            }
        }
    }
}