<main [ngStyle]="{'background-image':'url(assets/images/Decore.svg)'}">
  <app-header></app-header>
  <section class="hero-container">
    <div class="hero-box">
      <h4 style="color: #DF6951;
      font-family: 'Rubik Bold';">Best Destinations around the world</h4>
      <h2 style="color: #110c0b;
      font-family: 'Volkhov Bold';
      font-size: 64px;">Travel, enjoy
        and live a new
        and full life</h2>
      <p style="color: #110c0b;
      font-family: 'Rubik Regular'; width: 70%;">Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen
        it engrossed listening. Park gate sell they west hard for the.</p>
     <article class="buttonbox">
      <button>Find out more</button>
      <div>
        <span>
          <img src="assets/images/Polygon.png" alt="">
        </span>
        <p>Play Demo</p>
      </div>
     </article>
    </div>
    <img src="assets/images/Image.svg" alt="">
  </section>
</main>
<app-services></app-services>
<app-destination></app-destination>

